html{
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
}
body{

  margin: 0;

}



@media only screen and (max-width: 768px) {
  body {
    /* background-color: pink; */
  }
  .biopic img{
    display: block;
    width:100%;
    margin: 0;
  }

  .grid{
    grid-template-columns: repeat(2,346px);  /* 3 columns */
    grid-template-rows: repeat(3,346px);
  }

}

.biopic{

  display: none;
}

.nav{
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  justify-content: center;
  letter-spacing: normal;
  margin: 0px;
  padding-bottom: 45px;
  padding-top: 45px;
  padding-left: 72px;
  padding-right: 72px;
  width: 100%;
  letter-spacing: 2px;

}

a{
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.portfolio{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 33.3%;




}
 .logo{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  letter-spacing: normal;
  padding-right: 28px;
}




.about{
  box-sizing: border-box;
  padding: 6px;
}
.about a{
  box-sizing: border-box;
  display: block;
  letter-spacing: normal;
  line-height: 24px;
  padding-right: 56px;
  position: relative;


  letter-spacing: 2px;

}

}
.contact{
   padding-left: 20px;
}

.contact a{
  padding: 6px;
  letter-spacing: 2px;
}

.aboutc{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
  letter-spacing: normal;
  min-width: 33.33%;
  max-width: 100%;
}
.grid{
  padding-top: 100px;
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 85%;
padding-bottom: 200px;
margin: auto;
}
.grid img{

    width: 400px;
    height: 400px;
    margin: 5px;
    transition: all 1s;

}
img:hover{
    transform: scale(1)
}


.main{
  display: block;
  padding-bottom: 140px;
  padding-top: 140px;

}

h1{
  box-sizing: border-box;
  display: block;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 47.5px;
  text-align: center;
  max-width: 100%;
  width: 569px;
  margin: auto;

}
.biopic img{
  text-align: center;
  display: block;
  margin: auto;

}
.biopic{
  box-sizing: border-box;
  display: block;
  padding-bottom: 72px;
  padding-top: 72px;
  margin: auto;
  text-align: center;
  width: 100%;
  border-left-color: red;
}

.biopadding{
  align-items: flex-start;
  box-sizing: border-box;
  display: block;
  letter-spacing: normal;
  padding-bottom: 72px;
  padding-top: 72px;
  padding-left: 25%;
}
.bioboarder{
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: left;
  max-width: 72%;
  position: relative;
  line-height: 21px;
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

input[type=text], select, textarea {
  width: 100%;
  background-color: #f2f2f2;
  font-family: 'Muli', sans-serif;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #white;
  font-family: 'Muli', sans-serif;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-left: 43%;
  margin-right: 50%;
}

input[type=submit]:hover {
  background-color: black;
  color:white;
}

h3{
  margin:auto;
  text-align:center;
  padding:100px;
  padding-top: 50px;
}

.p3{
    width: 50%;
    margin: auto;
    padding: 100px;
    text-align: center;
    line-height: 21px;
}


.container {

  padding-left:25%;
  padding-right:25%;
  margin:auto;
}
